.bg-cart {
  width: 300px;
  margin: 30px 10px;
  border-bottom: solid 3px #000;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 254, 254, 1) 71%,
    rgba(0, 0, 0, 0.5522584033613445) 100%
  );
}
.bg-menu {
  border-bottom: solid 2px #000;

  height: 150px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 254, 254, 1) 71%,
    rgba(0, 0, 0, 0.5522584033613445) 100%
  );
}
.prod-filter {
  min-width: 200px;
  position: fixed;
}
.prod-pagin {
  margin-top: 100px;
  margin-left: 60px;
}
